<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=tcp:{servername}.database.windows.net,1433;Initial Catalog={DatabaseName};Persist Security Info=False;User ID={UserId};Password={Password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=20;"/>
		<add key="SelectQuery" value="SELECT * FROM tblSample"/>
		<add key="InsertQuery" value="INSERT INTO tblSample (Name) VALUES('Azure-Test')"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>